{% trans_default_domain 'FOSUserBundle' %}

 </div>

<div class="wrapper">
    
  <div class="container">
    <!-- Help Center -->
    <div class="row">
      <!-- Profile Menu -->
    <div class="col-sm-4 col-md-3">
      <div class="user-menu bottom-15">
        <ul>
        
        
       
       
      </ul>
      </div>
    </div>
      <div class="col-sm-8 col-md-6">
      <!-- Edit profile form -->
      <h3 class="hl" style=" margin-left: -309px;">Edit profile <small></small></h3>
      <p class="text-muted" style=" margin-left: -309px;">Please fill out the form below to update your profile.</p>
      <hr style="margin-left: -309px;">
      <h4 class="hl bottom-15" style="
    margin-left: -309px;">General Information</h4>
     
        <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
        </div>
     <div class="row" >

          <div class="col-lg-6" >
            <div class="well" >
              <form class="bs-example form-horizontal">
             
               <div class="form-group">
    {{ form_widget(form) }}
    <div>
    <br>
        <input type="submit" class="btn btn-primary" value="{{ 'profile.edit.submit'|trans }}" />
        
    </div>
    </div>
</div>
</div>
</form>
     
      
    
      
    </div>
    </div>
  </div>
  </div>



